---
id: {{ id | yaml }}
title: {{ title | yaml }}
ticket: {{ template | yaml }}
assignee: {{ assignee | yaml }}
parent: {{ parent | yaml }}
related: [{{ related | join(",") }}]
created: {{ created | yaml }}
tags: [{{ tags | join(",") }}]
---

{% if parent %}
## Parent

[[{{ parent_link }}]]

{% endif %}
## Notes


## Checklist

- [ ]
