---
id: {{ id | yaml }}
title: {{ title | yaml }}
ticket: {{ template | yaml }}
type: {{ type | yaml }}
parent: {{ parent | yaml }}
branch: {{ branch | yaml }}
related: [{{ related | join(",") }}]
created: {{ created | yaml }}
tags: [{{ tags | join(",") }}]
---

{% if parent %}
## Parent

[[{{ parent_link }}]]

{% endif %}
## Notes


## Acceptance criteria

- [ ]
