---
id: {{ id | yaml }}
title: {{ title | yaml }}
ticket: {{ template | yaml }}
type: {{ type | yaml }}
epic: {{ epic | yaml }}
story: {{ story | yaml }}
branch: {{ branch | yaml }}
related: [{{ related | join(",") }}]
created: {{ created | yaml }}
tags: [{{ tags | join(",") }}]
---

## Notes


## Acceptance criteria

- [ ]
