---
id: {{ id | yaml }}
title: {{ title | yaml }}
type: {{ type | yaml }}
epic: {{ epic | yaml }}
story: {{ story | yaml }}
branch: {{ branch | yaml }}
created: {{ created | yaml }}
tags: [{{ tags | join(",") }}]
---

## Notes


## Checklist

- [ ]
