---
id: {{ id | yaml }}
title: {{ title | yaml }}
assignee: {{ assignee | yaml }}
branch-type: {{ branch_type | yaml }}
branch-name: {{ branch_name | yaml }}
parent: {{ parent | yaml }}
related: [{{ related | join(",") }}]
tags: [{{ tags | join(",") }}]
created: {{ created | yaml }}
---

{% if parent %}
## Parent

[[{{ parent_link }}]]

{% endif %}
## Notes


## Acceptance criteria

- [ ]
